<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="SharedLib" value="https://pkgs.dev.azure.com/ContainerboardIT/OperationsPortal/_packaging/SharedLib/nuget/v3/index.json" />
		<add key="NuGetOrg" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
</configuration>